[Unit]
Description=Odroid M1S Fan Control Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/fanboy.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
